body{
  color: #a8b2d1;
}

.portfolio-img{
  opacity: 0.3;
  }

.portfolio-img:hover{
  opacity: 0.6;
  }

.portfolio-img img{
  border-radius: 4px;
  }



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

  .portfolio-wrapper{
    flex: 0 0 40%;
    }

  .portfolio-img{
    flex: 0 0 60%;
    }
  
  .portfolio-wrapper .text-wrapper {
    margin-left: -200px;
    position: relative;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .portfolio-wrapper .text-wrapper {
    margin-left: -200px;
    position: relative;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .portfolio-wrapper .text-wrapper {
    margin-left: -120px;
    position: relative;
    }

  .portfolio-wrapper .text-wrapper .text-inner{
    background-color: #102340;
    padding: 15px;
    border-radius: 4px;
    }
}


 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}


 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
  
}