/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

  .text-card{
    flex: 0 0 40%;
    }

    .imahe{
      flex: 0 0 60%;
    }
  
    .about-text {
      margin-left: -200px;
      position: relative;
      }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .about-text {
    margin-left: -200px;
    position: relative;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {


  .about-text {
    margin-left: -120px;
    /* z-index: 9999; */
    position: relative;
    }
  /* .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
    } */

}


 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}


 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
  
}